.hero h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 150px;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background-image: url("../galaxy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #590992;
  font-family: Futura;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.hero a {
  color: rgb(73, 78, 227);
  text-decoration:underline;
  text-decoration-color: #011e91;
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #c6093b;
}
.hero.active a {
  color: white;
  text-decoration-color: #0033a0;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}
