/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
  /* image is in project root, so reference it relative to this CSS file */
  background-image: url("../smoke.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Customize colors! */
  color:rgb(42, 108, 231);
}
h2 {
  color: rgb(112, 69, 173);
  text-decoration: underline;
  text-decoration-color: rgb(74, 26, 142);
  margin-bottom: 8px;
}

h2:hover {
  text-shadow: 1px 2px 1px rgb(236, 152, 250);
}

p {
  margin-top: 0;
}

main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 35em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
}

main:hover p {
  text-shadow: 1px 1px 1px rgb(246, 146, 236);
}

.text-color-alt {
  color: red; /* change to any color you want */
}

.colorbutton {
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color:rgb(0, 1, 4);
  border-radius: 9px;
  background-color: rgb(231, 205, 245);
}