/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
  /* image is in project root, so reference it relative to this CSS file */
  background-image: url("../galaxy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Customize colors! */
  color:rgb(42, 108, 231);
}
h2 {
  color: rgb(112, 69, 173);
  text-decoration: underline;
  text-decoration-color: rgb(74, 26, 142);
  margin-bottom: 8px;
}
p {
  margin-top: 0;
}

main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 35em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
}
